<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @album.created_at %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>


<div class="container">
	<div class="row">
		<div class="row">
			<% @album.photos.each do |photo|%>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="<%= photo.image.url(:medium)%>"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="<%= photo.image.url(:medium)%>"
                         alt="<%= photo.tagline%>">
                    <%= "#{photo.tagline} by #{photo.user.email}"%>
                </a>
            </div>
            <%end%>
        </div>
	</div>
</div>